.header {
    min-height: 200px;
    margin: 0%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
    width: 100%;
    font-family: "Andale Mono";
  }

.bodytext {
    font-family:"Roboto";
}